<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Agendamentos</title>
</head>
<body>
    <h1>Agendamentos de Aulas no Laboratório</h1>
    <a href="{{ url_for('agendar') }}">+ Agendar nova aula</a>
    <br><br>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <table border="1">
        <tr>
            <th>Professor</th>
            <th>Matéria</th>
            <th>Data e Hora</th>
        </tr>
        {% for a in agendamentos %}
        <tr>
            <td>{{ a[1] }}</td>
            <td>{{ a[2] }}</td>
            <td>{{ a[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

